body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.circle1, .circle2, .circle3, .circle4 {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
}

.circle1 {
    width: 350px;
    height: 350px;
    background: linear-gradient(to right, hsl(19, 100%, 50%), hsl(54, 100%, 50%));
    top: 495px;
    left: 280px;
}

.circle2 {
    width: 400px;
    height: 400px;
    background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(310, 100%, 50%));
    bottom: 250px;
    right: 300px;
}

.circle3 {
    width: 235px;
    height: 235px;
    background: linear-gradient(to right, hsl(270, 100%, 50%), hsl(295, 100%, 50%));

    top: 160px;
    left: 44%;
    transform: translateX(-50%);
    
}

.circle4 {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, hsl(172, 100%, 50%), hsl(219, 100%, 50%));
    top: 62.4%;
    left: 870px;
}

.container {
    display: flex;
    background: rgba(2, 2, 2, 0.041);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.479);
    overflow: hidden;
    z-index: 1;
}

.left, .right {
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.left {
    border-right: 1px solid rgba(255, 255, 255, 0.986);
    width: 250px;
}

h2, h3 {
    margin-bottom: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #ffffff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .left {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none;
    }

    .right {
        padding-top: 20px;
    }
}
